<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!-- Connection string name must match the DbContext constructor name used in InventoryDBContext -->
    <add name="ConStr"
         connectionString="Server=.\SQLEXPRESS;Database=InventoryDB;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
